[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
v = {editable = true,version = "*"}
ipython = "*"

[packages]
tqdm = "*"
numpy = "*"
tensorboardX = "*"
torch = "*"
torchtext = "*"
spacy = "*"
revtok = "*"
pymongo = "*"
tyche = {editable = true,path = "./../Tyche"}

[requires]
python_version = "3.6"
